<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gpay.com.g_pay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />

    <application
        android:name=".MeVolley"
        android:allowBackup="true"
        android:icon="@mipmap/peb_logo"
        android:label="PHED Customer App"
        android:roundIcon="@mipmap/peb_logo"
        android:supportsRtl="true">
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_live_e7ef530a1ebec11e5c557513c95ebb1f97be17e5"/>
        <activity
            android:name=".LoginActivity"
            android:label="PHED Customer App"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GpayPaymentActivity"
            android:theme="@style/transparent" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TransactionDetailsActivity"
            android:theme="@style/transparent"></activity>

        <activity android:name=".CardPaymentActivity"
            android:theme="@style/transparent">

        </activity>
    </application>

</manifest>